*{box-sizing: border-box;}

.column {
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 200px;
    min-height: 350px;
    max-width: 250px;
    max-height: 400px;
    margin: 8px;
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-bottom: 35px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card img{
    width: 100%;
    min-height: auto;
}
.card .container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h4 {
    text-overflow: ellipsis;
    overflow: hidden; 
    font-size: 1.1rem;
    margin-top: 17.6px;
    overflow-wrap: unset;
 }

 a:nth-child(3){
     justify-self: flex-end;
 }
 
.main-cont {
    padding: 0 4em 0 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}
@media  screen and (max-width: 1920px) {
    .card{
        height: fit-content;
    }
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    
}

.diving {
    border: solid 2px #f56a6a;
    border-radius: 6px;
    height: 30px;
    background-color: white;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.btnListDelete {
    height: 30px;
    float: right;
    margin-right: 10px;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

    input[type=text] {
        background-color: white;
        width: 100%;
    }

    input[type=submit] {
        background-color: DodgerBlue;
        color: #fff;
        cursor: pointer;
    }
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: white;
        border-bottom: 1px solid #d4d4d4;
    }